body { background: #3d50d9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-cache-0 { color: #739916; font-size: 19px; margin-bottom: 5px; }
.block-auth-1 { color: #a691ee; font-size: 13px; margin-bottom: 5px; }
.block-uploader-2 { color: #6e1bf3; font-size: 13px; margin-bottom: 5px; }
.block-invoice-3 { color: #56f893; font-size: 14px; margin-bottom: 5px; }
.block-notify-4 { color: #2f38d5; font-size: 13px; margin-bottom: 5px; }